<a href="https://colab.research.google.com/github/RazaQadri/Application-of-DSA/blob/main/Copy_of_lab2_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

# Task 2

# Task 3

In [ ]:
a=" "
for i in range(0,5):
  a +="*"
  print(a)

while(a!=""):
  print(a)
  a=a[:len(a)-1]

 *
 **
 ***
 ****
 *****
 *****
 ****
 ***
 **
 *

In [ ]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
for i in range(1,7):
  for j in range(1,i):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Task 4

In [ ]:
i=1
while(i<=10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

# Task 5

In [ ]:
# Fabionaci
a=0
b=1

for i in range(10):
  print(a, end=' ')
  a=b
  b=a+b

0 1 2 4 8 16 32 64 128 256

# Task 6

In [ ]:
num=int(input("Enter number: "))
result=1;
for i in range(1,num+1):
  result= result*i
print(result)

Enter number: 4
24

# Task 7

In [ ]:
n = int(input("Enter the number of terms: "))
sum = 0
for i in range(1, n+1):
    sum += i
print("The sum of the series is:", sum)

Enter the number of terms: 5
The sum of the series is: 15

# Task 8

In [ ]:
num = int(input("Enter a number: "))
factors = 0

for i in range(1, num+1):
    if num % i == 0:
        factors += 1

if factors == 2:
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

# Task 9

In [ ]:
num=int(input("Enter number: "))
for i in range(num,0,-1):
  print(i)

Enter number: 5
5
4
3
2
1

# Task 10

In [ ]:
#pattern A
for i in range(1,8):
  for j in range(1,i):
    print(j,end=" ")
  print()
#pattern B
print()
num=7
for i in range(1,7):
  for j in range(1,num):
    print(j,end=" ")
  print()
  num=num-1
#Pattern C
print()
for i in range(1,7):
  for e in range(7-i):
    print(" ", end=" ")
  for j in range(i,0,-1):
    print(j,end=" ")
  print()
#pattern D
print()
num=7
for i in range(1,7):
  for j in range(1,num):
    print(j,end=" ")
  print()
  num=num-1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

            1
          2 1
        3 2 1
      4 3 2 1
    5 4 3 2 1
  6 5 4 3 2 1

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# Task 11

In [ ]:
#pattern pyramid
num=int(input("Enter the number of lines: "))
for i in range(1,num+1):
  for e in range((num+1)-i):
    print(" ", end=" ")
  for j in range(i,0,-1):
    print(j,end=" ")
  for l in range(2, i+1):
      print(l, end=" ")
  print()

Enter the number of lines: 9
                  1
                2 1 2
              3 2 1 2 3
            4 3 2 1 2 3 4
          5 4 3 2 1 2 3 4 5
        6 5 4 3 2 1 2 3 4 5 6
      7 6 5 4 3 2 1 2 3 4 5 6 7
    8 7 6 5 4 3 2 1 2 3 4 5 6 7 8
  9 8 7 6 5 4 3 2 1 2 3 4 5 6 7 8 9

# Task 12

In [ ]:
num=int(input("Enter a number: "))
for i in range(1,11):
  print(num, " x ",i," = ",num*i)

Enter a number: 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

# Arrays: Task 13

In [ ]:
import numpy as np

arr0 = np.array(42)
print("0-D array:\n", arr0)

arr1 = np.array([1, 2, 3, 4, 5])
print("\n1-D array:\n", arr1)

arr2 = np.array([ 
    [1, 2, 3], 
    [4, 5, 6] 
    ])
print("\n2-D array:\n", arr2)


arr3 = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print("\n3-D array:\n", arr3)

arr5 = np.zeros((2, 3, 4, 5, 6))
print("\n5-D array:\n", arr5)

# Task 14

In [ ]:
import numpy as np
arr= np.array(["apple","Bnana","Cherry"])
for i in range(0,len(arr)):
  print(arr[i])

Bnana
apple
Bnana
Cherry

# Task 15

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
largest = arr[0]

for i in range(1, len(arr)):
    if arr[i] > largest:
        largest = arr[i]

print("The largest element in the array is:", largest)

The largest element in the array is: 5

# Task 16

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
sum=0

for i in range(0, len(arr)):
  sum=sum+arr[i]

print("The Sum of each element  of array is:", sum)

The Sum of each element  of array is: 15

# Task 17

In [ ]:
import numpy as np

arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[arr%2==1]=-1
print(arr)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

# Classes: Task 18

In [ ]:
class Book:
  def __init__(self, ISBN, Title, Price, MainArea, SubArea, NoOfPages):
    self.ISBN=ISBN
    self.Title=Title
    self.Price=Price
    self.MainArea=MainArea
    self.SubArea=SubArea
    self.NoOfPages=NoOfPages
  
  def __str__(self):
    return f"ISBN= {self.ISBN} \nTitle={self.Title}\nPrice= {self.Price}\nMain Area= {self.MainArea}\nSub Area {self.SubArea}\nNo of Pages= {self.NoOfPages}" 

obj=Book("1234","English","230Rs.","123m","3423","100")
print(obj)

ISBN= 1234
Title=English
Price= 230Rs.
Main Area= 123m
Sub Area 3423
No of Pages= 100

# Task 19

In [ ]:
class Computer:
  def __init__(self, BrandName, Speed, MemorySize):
    self.BrandName=BrandName
    self.MemorySize=MemorySize
    self.Speed=Speed

  
  def __str__(self):
    return f"MemorySize={self.MemorySize}\nSpeed= {self.Speed}\nBrand Name= {self.BrandName}" 

obj=Computer("Dell","1km","50GB")
print(obj)

MemorySize=50GB
Speed= 1km
Brand Name= Dell

# Task 20

In [ ]:
class Student:
  def __init__(self, student_id, student_name,student_class=None):
    self.student_id = student_id
    self.student_name = student_name
    self.student_class = student_class

  def display(self):
    print("Student ID:", self.student_id)
    print("Student Name:", self.student_name)
    print("Student Class:", self.student_class)

obj=Student(1,"Ammar")
obj.display()
print("\n\n")
obj=Student(1,"Ammar","BSSE")
obj.display()

Student ID: 1
Student Name: Ammar
Student Class: None



Student ID: 1
Student Name: Ammar
Student Class: BSSE